/_annotator_mapsrc
/_annotator-bookmarklet_mapsrc
/_annotator-full_mapsrc
/_annotator.annotateitpermissions_mapsrc
/_annotator.auth_mapsrc
/_annotator.document_mapsrc
/_annotator.filter_mapsrc
/_annotator.kitchensink_mapsrc
/_annotator.markdown_mapsrc
/_annotator.permissions_mapsrc
/_annotator.store_mapsrc
/_annotator.tags_mapsrc
/_annotator.unsupported_mapsrc
/_annotator-bookmarklet.js
/_annotator-bookmarklet.map
/_annotator-bookmarklet.min.js
/_annotator-bookmarklet.min.map
/_annotator-bookmarklet.min.map.bak
/_annotator-full.js
/_annotator-full.map
/_annotator-full.min.js
/_annotator-full.min.map
/_annotator-full.min.map.bak
/_annotator.annotateitpermissions.js
/_annotator.annotateitpermissions.map
/_annotator.annotateitpermissions.min.js
/_annotator.annotateitpermissions.min.map
/_annotator.annotateitpermissions.min.map.bak
/_annotator.auth.js
/_annotator.auth.map
/_annotator.auth.min.js
/_annotator.auth.min.map
/_annotator.auth.min.map.bak
/_annotator.document.js
/_annotator.document.map
/_annotator.document.min.js
/_annotator.document.min.map
/_annotator.document.min.map.bak
/_annotator.filter.js
/_annotator.filter.map
/_annotator.filter.min.js
/_annotator.filter.min.map
/_annotator.filter.min.map.bak
/_annotator.js
/_annotator.kitchensink.js
/_annotator.kitchensink.map
/_annotator.kitchensink.min.js
/_annotator.kitchensink.min.map
/_annotator.kitchensink.min.map.bak
/_annotator.map
/_annotator.markdown.js
/_annotator.markdown.map
/_annotator.markdown.min.js
/_annotator.markdown.min.map
/_annotator.markdown.min.map.bak
/_annotator.min.js
/_annotator.min.map
/_annotator.min.map.bak
/_annotator.permissions.js
/_annotator.permissions.map
/_annotator.permissions.min.js
/_annotator.permissions.min.map
/_annotator.permissions.min.map.bak
/_annotator.store.js
/_annotator.store.map
/_annotator.store.min.js
/_annotator.store.min.map
/_annotator.store.min.map.bak
/_annotator.tags.js
/_annotator.tags.map
/_annotator.tags.min.js
/_annotator.tags.min.map
/_annotator.tags.min.map.bak
/_annotator.unsupported.js
/_annotator.unsupported.map
/_annotator.unsupported.min.js
/_annotator.unsupported.min.map
/_annotator.unsupported.min.map.bak
/_preamble.coffee
/_preamble.js
/_preamble.map
/annotator-bookmarklet.js
/annotator-bookmarklet.map
/annotator-bookmarklet.min.js
/annotator-bookmarklet.min.map
/annotator-full.map
/annotator-full.min.map
/annotator.annotateitpermissions.js
/annotator.annotateitpermissions.map
/annotator.annotateitpermissions.min.js
/annotator.annotateitpermissions.min.map
/annotator.auth.js
/annotator.auth.map
/annotator.auth.min.js
/annotator.auth.min.map
/annotator.document.js
/annotator.document.map
/annotator.document.min.js
/annotator.document.min.map
/annotator.filter.js
/annotator.filter.map
/annotator.filter.min.js
/annotator.filter.min.map
/annotator.kitchensink.js
/annotator.kitchensink.map
/annotator.kitchensink.min.js
/annotator.kitchensink.min.map
/annotator.map
/annotator.markdown.js
/annotator.markdown.map
/annotator.markdown.min.js
/annotator.markdown.min.map
/annotator.min.css
/annotator.min.js
/annotator.min.map
/annotator.permissions.js
/annotator.permissions.map
/annotator.permissions.min.js
/annotator.permissions.min.map
/annotator.store.js
/annotator.store.map
/annotator.store.min.js
/annotator.store.min.map
/annotator.tags.js
/annotator.tags.map
/annotator.tags.min.js
/annotator.tags.min.map
/annotator.unsupported.js
/annotator.unsupported.map
/annotator.unsupported.min.js
/annotator.unsupported.min.map
/bookmarklet.js
/bookmarklet.min.js
